$heading-font: 'Reem Kufi', sans-serif
$body-font: 'Source Sans Pro', sans-serif
$body-font-color: #333

=header-text()
  font-family: 'Reem Kufi', sans-serif
  color: #000

=awesome-text()
  font-family: 'Source Sans Pro', sans-serif
  color: #444

=itemRowStyles()
  background-color: #fff
  border-radius: .2em
  margin: 15px
  padding: 5px



html, body
  background-color: #eee
  

div 
  +awesome-text

h1, h2, h3, 
  +header-text

p
  +awesome-text

.tab
  +header-text

button
  display: flex 
  padding: .938em 1.875em
  border: .094em solid #743EA5 
  border-radius: .625em
  background-color: #ffcc99
  color: #FFF
  text-decoration: none
  justify-content: center
  flex-direction: column
  margin: auto

img
  max-width: 100%
  display: block

img 
  .itemIcons
  max-width: 30%
  margin: 10px auto

.brickButton
  &:hover
    -ms-transform: scale(1.05)
    -webkit-transform: scale(1.05)
    transform: scale(1.05)
  &:active
    -ms-transform: scale(.95)
    -webkit-transform: scale(.95)
    transform: scale(.95)

.itemRow
  +itemRowStyles

.workerstab
  background-color: #613e61
  padding: 5px 25px

.transportstab
  background-color: #3e6161
  padding: 5px 25px

.toolstab
  background-color: #58613e
  padding: 5px 25px

.tab
  color: #fff




