html, body
  background-color: #ddd;
  font-family: 'Roboto', sans-serif;
 

h1 
  font-family: 'Oswald', sans-serif;
  font-weight: 400;

button
  display: flex; 
  padding: .938em 1.875em;
  border: .094em solid #743EA5; 
  border-radius: .625em;
  background-color: #ffcc99;
  color: #FFF;
  text-decoration: none;
  justify-content: center;
  flex-direction: column;



.row:nth-child(2)
  background-color: #ffcccc;